<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PowerSeat통합검사기.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <PowerSeat통합검사기.Properties.Settings>
            <setting name="LIN_DEVICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LIN_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_CHANNEL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_DEVICE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MES_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="MES_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MES_SERVER_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="MES_SERVER_PORT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_METER_PORT" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="P_METER_SPEED" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IO_BOARD_IP" serializeAs="String">
                <value>192.168.0.8</value>
            </setting>
            <setting name="IO_BOARD_PORT" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="PC_IP" serializeAs="String">
                <value>192.168.0.200</value>
            </setting>
            <setting name="PC_PORT" serializeAs="String">
                <value>6500</value>
            </setting>
            <setting name="BATTID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BUCKLEID" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HEATERID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="POWER_PORT" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="POWER_SPEED" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LIN_DEVICE2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LIN_SPEED2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_CHANNEL2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_DEVICE2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_ID2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CAN_SPEED2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IO_CARD_PORT" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="IO_CARD_SPEED" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MULTIMETER_PORT" serializeAs="String">
                <value />
            </setting>
            <setting name="MULTIMETER_SPEED" serializeAs="String">
                <value>0</value>
            </setting>
        </PowerSeat통합검사기.Properties.Settings>
    </userSettings>
</configuration>
